{% extends 'base.html.twig' %}

{% block title %}CLOTHEN | Password edition{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Update your password</h1>
    <a href="{{ path('account') }}">Back to your account</a>
    {% if notification %}
        {% if notification.result %}
            <div class="alert alert-success">{{ notification.body }}</div>
        {% else %}
            <div class="alert alert-danger">{{ notification.body }}</div>
        {% endif %}
    {% endif %}

    <hr>
        {{ form(form) }}
    <hr>


</div>
{% endblock %}
